body{
  background-color: rgb(50,50,50);
}

.App {
  display: flex;
	align-items: center;
  justify-content: center;
  min-height: 25vh;
}

.formContainer{
  text-align: center;
  min-width: 100vw;
  padding-bottom: 40px;
  padding-top: 40px;
}

.matchesInfo{
  text-align: center;
}

.summonerNameInput {
  border-radius: 5px;
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.summonerNameSubmit {
  font-size: 1.5em;
  border-radius: 5px;
  border: white;
  box-shadow: 0 0 10px #a5ffff;
  background-color: rgba(0,191,255, .7); 
  color: rgb(240,240,240);
}

.victoryMatch{
  color: rgb(0, 0, 255);
  background-color: rgba(74,161,210,.9);
}

.lossMatch{
  color: rgb(238, 33, 23);
  background-color:rgba(226,182,179.9);
}

.matchContainer{
  border: solid rgb(200,200,200) 1px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px #ccc;
  transition: transform 2s;
}

.matchContainer:hover{
  transform: scale(1.05,1.05);
  transition: transform 1s;
}

.matchState{
  padding: 10px;
}

.matchTable{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.championImage{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.championName{
  font-size: 1.5em;
  color: rgb(50,50,50);
}

.champStats{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.champTextStats{
  display: flex;
  flex-direction: column;
}

.creepStats{
  color: green;
  padding: 20px;
}

.kdaStats{
  display: flex;
  padding: 10;
  align-items: center;
  justify-content: center;
}

.itemList{
  color: purple;
}

.runesAndSpells{
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: bold;
}

